*::selection {
  background: #ddd;
}

@media (max-width: 990px) {
  .src-components-Header-__Header__header__Yi\+AA
    .src-components-Header-__Header__logoWrapper__QkMtF
    .src-components-Header-__Header__merchant__a1e3j {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .src-components-App-__App__merchantSection__6AANE {
    width: 40%;
    border-right: 1px solid #f0f0f0;
  }
}
.src-components-Header-__Header__header__Yi\+AA {
  text-align: center;
  padding-bottom: 6.4px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .src-components-Header-__Header__header__Yi\+AA {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
  }
}
.src-components-Header-__Header__header__Yi\+AA
  .src-components-Header-__Header__logoWrapper__QkMtF {
  display: flex;
  flex-direction: row;
}
.src-components-Header-__Header__header__Yi\+AA
  .src-components-Header-__Header__mainLogoWrapper__pjuLM,
.src-components-Header-__Header__header__Yi\+AA
  .src-components-Header-__Header__logoWrapper__QkMtF {
  animation: src-components-Header-__Header__fadein__anCZM 0.3s ease-in;
}
@media screen and (min-width: 768px) {
  .src-components-Header-__Header__header__Yi\+AA
    .src-components-Header-__Header__logoWrapper__QkMtF {
    width: 100%;
    padding: 0 41.6px 8px;
  }
}

@keyframes src-components-Header-__Header__fadein__anCZM {
  0% {
    opacity: 0.6;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.force-printable {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.src-components-Header-__Header__header__Yi\+AA
  .src-components-Header-__Header__logoWrapper__QkMtF
  .src-components-Header-__Header__logo__5aban {
  display: inline-block;
  height: 40px;
  width: 25%;
  max-width: 144px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .src-components-Header-__Header__header__Yi\+AA
    .src-components-Header-__Header__logoWrapper__QkMtF
    .src-components-Header-__Header__logo__5aban {
    height: 64px;
    width: 30%;
  }
}

.src-components-Header-__Header__header__Yi\+AA
  .src-components-Header-__Header__logoWrapper__QkMtF
  .src-components-Header-__Header__merchant__a1e3j {
  font-size: 9.6px;
  text-align: left;
  color: #2c2a29;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1em;
}

@media screen and (min-width: 768px) {
  .src-components-Header-__Header__header__Yi\+AA
    .src-components-Header-__Header__logoWrapper__QkMtF
    .src-components-Header-__Header__merchant__a1e3j {
    font-size: 16px;
    padding-left: 16px;
    font-weight: 400;
  }
}

.src-components-Header-__Header__header__Yi\+AA
  .src-components-Header-__Header__logoWrapper__QkMtF
  .src-components-Header-__Header__merchant__a1e3j
  strong {
  color: #2c2a29;
  display: block;
  font-size: 2.07em;
  margin-top: 0.3em;
}

@media screen and (min-width: 768px) {
  .src-components-Header-__Header__header__Yi\+AA
    .src-components-Header-__Header__logoWrapper__QkMtF
    .src-components-Header-__Header__merchant__a1e3j
    strong {
    line-height: 1.15em;
    padding: 0.25em 0 0.75em;
    margin-top: 0.1em;
  }
}

@media screen and (min-width: 768px) {
  .src-components-App-__App__merchantSection__6AANE
    .src-components-App-__App__merchantContainer__cAamA {
    padding: 0 57.6px 16px;
  }
}
.src-components-PricePanel-__PricePanel__pricePanel__d4-NO {
  position: relative;
  padding: 0;
  font-size: 12.8px;
  color: #667587;
  text-align: center;
}
.src-components-PricePanel-__PricePanel__pricePanel__d4-NO > * {
  vertical-align: middle;
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8 {
  background: #fff;
  padding: 8px 0 16px;
}
@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8 {
    padding: 0 0 16px;
  }
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI {
  display: flex;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI {
    display: block;
  }
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB {
  text-align: center;
  color: #333;
  flex: 1;
  font-size: 16px;
  animation: src-components-PricePanel-__PricePanel__appear-in__9TyqT 0.15s
    ease-in;
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB.src-components-PricePanel-__PricePanel__left__gt\+zo {
  text-align: left;
  font-size: 19.2px;
}

@keyframes src-components-PricePanel-__PricePanel__appear-in__9TyqT {
  0% {
    opacity: 0.2;
    transform: scale(0.925);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB
  span {
  font-weight: 700;
  color: #313541;
  letter-spacing: -0.01em;
  line-height: 1.2em;
  display: block;
  margin-bottom: 0.65em;
  font-size: 14.4px;
}
@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__itemName__biREB
    span {
    font-size: 17.6px;
    margin-bottom: 8px;
  }
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB
  .src-components-PricePanel-__PricePanel__amountToPay__V3gOF {
  font-size: 1.4em;
  display: inline-block;
  color: #00825a;
  line-height: 1em;
  animation: src-components-PricePanel-__PricePanel__appear-in__9TyqT 0.15s
    ease-in;
}

@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__itemName__biREB
    .src-components-PricePanel-__PricePanel__amountToPay__V3gOF {
    font-size: 40px;
  }
}

.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB
  .src-components-PricePanel-__PricePanel__amountToPay__V3gOF
  strong {
  font-weight: 700;
  letter-spacing: -0.025em;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__itemName__biREB
    .src-components-PricePanel-__PricePanel__amountToPay__V3gOF
    strong {
    font-weight: 600;
    letter-spacing: -0.03em;
  }
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB
  .src-components-PricePanel-__PricePanel__amountToPay__V3gOF
  .src-components-PricePanel-__PricePanel__currencyLabel__Wca2n {
  display: inline-block;
  /* margin-left: 0.5em; */
  font-size: 0.6em;
  color: #16181e;
  font-weight: 400;
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__helpMe__X3h1x {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 17.6px;
  border-radius: 50%;
  text-align: center;
  background: #16181e;
  color: #dfff61;
  font-weight: bold;
  border: 3px solid #2c2a29;
  box-shadow: 0 0 0 1px inset #dfff61;
  position: absolute;
  right: -30px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.25s linear;
  font-size: 13.6px;
  overflow: hidden;
  font-weight: 400;
  top: 65.6px;
}

@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__helpMe__X3h1x {
    border-radius: 12px;
    transition: all 0.2s linear;
    font-size: 11.2px;
  }
}

.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__helpMe__X3h1x
  span {
  display: none;
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__helpMe__X3h1x:hover {
  background: #313541;
}
@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__helpMe__X3h1x:hover {
    width: auto;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__helpMe__X3h1x:hover
    span {
    color: #dfff61;
    display: inline-block;
    font-size: 0.9em;
    text-transform: uppercase;
  }
}
.src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
  .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
  .src-components-PricePanel-__PricePanel__itemName__biREB
  .src-components-PricePanel-__PricePanel__productDescription__PFIqS {
  display: none;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 500;
  color: #667587;
  margin: 1.25em 0 28px;
}
@media screen and (min-width: 768px) {
  .src-components-PricePanel-__PricePanel__paymentDetails__AGlE8
    .src-components-PricePanel-__PricePanel__nameWrapper__aiPlI
    .src-components-PricePanel-__PricePanel__itemName__biREB
    .src-components-PricePanel-__PricePanel__productDescription__PFIqS {
    display: block;
    font-size: 0.85em;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .src-components-App-__App__contentSection__NXGfR {
    flex: 1;
  }
}
.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv {
  position: relative;
}
@media screen and (min-width: 768px) {
  .src-components-App-__App__contentSection__NXGfR
    .src-components-App-__App__contentContainer__xY6Uv {
    padding: 0 41.6px;
  }
}
.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__viewTitle__Vm1q6 {
  display: flex;
  align-items: center;
  gap: 0 21.12px;
  font-size: 24px;
  color: #2c2a29;
  font-weight: 500;
  margin-bottom: 1.5em;
  text-align: left;
  margin-top: 0;
}
.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__title__BrHES {
  color: #2c2a29;
  font-weight: bold;
}
.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__viewTitle__Vm1q6
  span {
  display: inline-block;
  animation: src-components-App-__App__slidein__JUpij 0.4s;
}

@keyframes src-components-App-__App__slidein__JUpij {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__routeWrapper__1ZgBl {
  animation: src-components-App-__App__slidein__JUpij 0.25s;
}
.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__routeWrapper__1ZgBl
  > div {
  animation: src-components-App-__App__slidein__JUpij 0.25s;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 2px;
}
@media screen and (min-width: 768px) {
  .src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
a {
  color: #140f35;
  text-decoration: none;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju {
  background: #fff;
  border: 1px solid #eaf0fb;
  border: 1px solid rgba(187, 206, 243, 0.4);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 9.6px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 86.4px;
  transition: all 0.1s ease-in-out;
  position: relative;
  overflow: hidden;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju
  .src-components-PaymentMethod-__PaymentMethod__methodLogo__FXg64 {
  padding: 0;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  display: table;
  opacity: 0.95;
  width: 33%;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju
  .src-components-PaymentMethod-__PaymentMethod__methodLogo__FXg64
  .src-components-PaymentMethod-__PaymentMethod__logoWrapper__z2new {
  text-align: center;
  width: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju
  .src-components-PaymentMethod-__PaymentMethod__methodLogo__FXg64
  .src-components-PaymentMethod-__PaymentMethod__logoWrapper__z2new
  img {
  vertical-align: middle;
  max-width: 41.6px;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju
  .src-components-PaymentMethod-__PaymentMethod__methodLogo__FXg64.src-components-PaymentMethod-__PaymentMethod__logoCard__VOgFc
  img {
  height: 25.6px;
  margin-bottom: 4px;
  border-radius: 2px;
  transform: scale(1.05);
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju
  .src-components-PaymentMethod-__PaymentMethod__methodName__6PQNs {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #3f4a56;
  position: relative;
  line-height: 1.3em;
  padding: 0 16px 0 10.4px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  font-style: normal;
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju:hover {
  border-color: #bbcef3;
  background: #fff;
  box-shadow: 1px 1px 4px 0 rgba(30, 79, 170, 0.2);
}
.src-components-PaymentMethod-__PaymentMethod__methods__I\+LYF
  .src-components-PaymentMethod-__PaymentMethod__method__\+K2Ju:hover
  .src-components-PaymentMethod-__PaymentMethod__methodName__6PQNs {
  color: #1e4faa;
}

.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__viewTitle__Vm1q6
  .src-components-App-__App__leftButton__L5y0x {
  display: inline-block;
  animation: src-components-App-__App__slidein__JUpij 0.4s;
  color: #dfff61 !important;
  font-size: 15.84px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0;
  cursor: pointer;
  width: 24.64px;
  position: relative;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__viewTitle__Vm1q6
  .src-components-App-__App__leftButton__L5y0x:before {
  position: absolute;
  width: 24.64px;
  height: 24.64px;
  top: calc(50% - 10.71px);
  left: 0;
  margin-left: -1.6px;
  content: "";
  border-radius: 50%;
  background-color: #2c2a29;
  transition: background 0.1s ease-in-out;
  border-color: #dfff61;
}
.src-components-App-__App__contentSection__NXGfR
  .src-components-App-__App__contentContainer__xY6Uv
  .src-components-App-__App__viewTitle__Vm1q6
  span {
  display: inline-block;
  animation: src-components-App-__App__slidein__JUpij 0.4s;
}
.src-components-App-__App__contentSection__NXGfR .src-components-App-__App__contentContainer__xY6Uv .src-components-App-__App__viewTitle__Vm1q6 .src-components-App-__App__leftButton__L5y0x span {
  position: relative;
  font-size: 1.5em;
  font-weight: 220;
}